.decor {
  display: none;

  @include onTablet {
    position: fixed;
    z-index: 10;
    bottom: 0;
    display: flex;
    width: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--left {
      left: 15px;
    }

    &--right {
      right: 15px;
    }
  }

  @include onDesktop {
    &--left {
      left: 50px;
    }

    &--right {
      right: 50px;
    }
  }

  &::after {
    display: block;
    width: 1px;
    height: 100px;
    background-color: $light-slate;
    content: '';
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;

    & li {
      width: 40px;
      height: 40px;
    }
  }

  &__link {
    padding: 10px;
    color: $light-slate;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 18px;
    writing-mode: vertical-rl;
    @extend %li;

    & svg {
      width: 20px;
      height: 20px;
    }

    &--stroke svg {
      stroke: $light-slate;
      transition: $transition-duration;
    }

    &--fill path {
      fill: $light-slate;
      transition: $transition-duration;
    }

    &:hover {
      color: $green;

      &.decor__link--stroke svg {
        stroke: $green;
      }

      &.decor__link--fill path {
        fill: $green;
      }
    }
  }
}
