.header {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  background-color: $navy;

  transition: $transition-duration;

  @include onDesktop {
    padding: 0 50px;
  }

  &.visible {
    z-index: 5;
    top: 0;
    height: 70px;
    backdrop-filter: blur(10px);
    background-color: rgba(10, 25, 47, 0.85);
    box-shadow: $box-shadow-block;
  }

  &.hidden {
    top: -$header-height;
  }
}
