.main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 25px;
  margin: 0 auto;
  counter-reset: section 0;
  transition: $transition-duration;

  @include onTablet {
    padding: 0 80px;
  }

  @include onDesktop {
    padding: 0 100px;
  }
}
