$dark-navy: #020c1b;
$navy: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$navy-shadow: rgba(2, 12, 27, 0.7);
$dark-slate: #495670;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white: #e6f1ff;
$green: #64ffda;
$green-tint: rgba(100, 255, 218, 0.1);
$pink: #f57dff;
$blue: #57cbff;

$desktop-width: 1280px;
$tablet-width: 768px;
$container-width: 1280px;
$header-height: 100px;
$main-height: calc(100vh - #{$header-height});
$transition-duration: 0.3s ease-in-out;

$border-radius: 4px;
$box-shadow-button: 4px 4px 0 0 $green;
$box-shadow-block: 0 10px 30px -10px $navy-shadow;
